<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>11</ApplicationRevision>
    <ApplicationVersion>1.9.4.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\rds2016\Unidad_F\dev\Nesto\</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>F:\dev\Nesto\</PublishDir>
    <PublishUrl>F:\dev\Nesto\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(ninguno)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>False|2022-05-16T12:37:03.6380267Z;True|2022-04-18T10:43:52.6487978+02:00;False|2022-04-18T10:43:12.3084279+02:00;True|2022-04-11T16:21:03.8891505+02:00;True|2022-04-01T08:38:20.4950417+02:00;True|2022-03-31T18:56:59.2270477+02:00;True|2022-03-30T18:03:12.8526455+02:00;True|2022-03-28T18:11:24.1496914+02:00;True|2022-03-18T14:18:36.3610261+01:00;True|2022-03-16T18:26:46.7377025+01:00;False|2022-03-16T18:22:12.3979385+01:00;True|2022-03-07T14:27:47.4856240+01:00;True|2022-03-05T14:21:21.3915195+01:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.5.0.x64">
      <Install>true</Install>
      <ProductName>Entorno de ejecución de escritorio de .NET 5.0.14 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>