<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>12</ApplicationRevision>
    <ApplicationVersion>1.9.3.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\rds2016\Unidad_F\dev\Nesto\</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>F:\dev\Nesto\</PublishDir>
    <PublishUrl>F:\dev\Nesto\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(ninguno)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net5.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2021-11-08T13:31:13.9042959Z;True|2021-11-04T16:59:15.2108510+01:00;True|2021-11-04T11:09:53.0342377+01:00;True|2021-11-04T11:06:54.1067994+01:00;True|2021-10-11T16:53:47.2309108+02:00;True|2021-10-11T11:20:38.5066232+02:00;True|2021-09-28T10:52:40.8428152+02:00;True|2021-09-27T14:03:04.0165936+02:00;True|2021-09-24T11:34:23.8184719+02:00;False|2021-09-24T11:32:03.3900297+02:00;True|2021-09-06T17:09:39.0977940+02:00;True|2021-09-03T17:22:21.1186324+02:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.5.0.x64">
      <Install>true</Install>
      <ProductName>Entorno de ejecución de escritorio de .NET 5.0.9 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>